<!DOCTYPE html>
<html lang="en">

<head>
    <title>Secrets Scanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Add CSS style to wrap long text within the container */
        .wrap-text {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="list-group">
            <div class="list-group-item list-group-item-action mb-3">
                {% if isadb_backup %}
                <h1 class="mb-4 alert alert-danger">ADB Backup Enabled!</h1>
                <p>ADB backup is enabled in the AndroidManifest.xml file (allowBackup: true).</p>
                <p>Allowing Android Debug Bridge (ADB) access in production apps poses a severe security risk. It can lead to unauthorized access, malicious code injection, debug information leakage, unauthorized modifications, and data exposure, compromising user privacy and app security.</p>
                {% endif %}
            </div>
        </div>
        <h1 class="mb-4">Found Secrets For <b style="color:purple;">{{apkname}}.apk</b></h1>
        {% if secrets_data %}
        <div class="list-group">
            {% for secret_info in secrets_data %}
            <div class="list-group-item list-group-item-action mb-3">
                <h2>{{secret_info['key']}}</h2>
                <h5 class="mb-1">Value: <b style="color: red;">{{ secret_info['value'] }}</b></h5>
                <p class="mb-1 wrap-text">File Path: {{ secret_info['file_path'] }}</p>
                <p class="mb-1">Line Number: {{ secret_info['line_number'] }}</p>
                <p class="mb-1">Code Snippet: {{ secret_info['code_snippet'] }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="lead">No secrets found in any files.</p>
        {% endif %}
    </div>
</body>

</html>
